
<div class="d-flex justify-content-center align-items-center flex-column mt-3">
  <div style="" class="group-chat-container d-flex flex-column justify-content-center text-center mt-3">
    <h3><strong>Crie o seu grupo!</strong></h3>
    <div style="width: 800px; height:100px" class="group-card justify-content-center align-itens-center pt-4 mx-1" >
      <%= simple_form_for @group do |f| %>
        <div class="d-flex justify-content-around">
          <div id="group-input" style="height: 50px; width:630px;"class="container d-flex justify-content-center align-itens-center">
            <%= f.input_field :name, label: false, placeholder: "Qual vai ser o nome do seu novo grupo?" %>
          </div>
          <%= f.button :submit, value: "Criar", class:"btn botton-vote mr-4" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="container-group">
  <% @groups.each do |group|%>
    <div class="box-group">
      <h5><strong><%= group.name %></strong></h5>
      <p>Membros:</p>
      <p><% group.members.each do |a|%>
        <%= cl_image_tag a.user.photo.key, class:"avatar-group" if a.user.photo.attached? %>
        <%end%>
      </p>
      <div class="justify-content-center">
        <%= link_to '+ info',group_path(group), class: "btn botton-info" %>
      </div>
    </div>
  <% end %>
</div>

<div class="box-bottons" style="text-align: center; margin-top: 30px">
  <%= link_to 'Voltar', profiles_path, class: "btn botton-back" %>
</div>
