<div class="destaques neonLand my-5">
  <h1 class= "text-white"><%= @group.name %></h1>
</div>
<div class="row justify-content-around m-0 text-white">
  <div>
    <div class="group-body">
      <p><%= @group.user_id %></p>
        <% @group.members.each do |member| %>
      <p><%= member.user.id %></p>
      <% end %>
    </div>

    <div class="row d-flex justify-content-center">
    <div>
      <%= link_to 'Survey room', group_grouped_events_path(@group), class: "btn btn-secondary btn-lg mt-3 mb-4 radius-15" %>
    </div>
    <div>
      <%= link_to "Fazer a votação", votes_group_grouped_events_path(@group), class: "btn btn-secondary btn-lg mt-3 mb-4 radius-15" %>
    </div>
    <div>
      <%= link_to 'Voltar', groups_path, class: "btn btn-secondary btn-lg mt-3 mb-4 radius-15" %>
    </div>
  </div>
</div>
