<div class="destaques neonLand my-5">
  <h1 class= "text-white"><%= @group.name %></h1>
</div>

<div class="row justify-content-around m-0 text-white">
  <div>
    <div class="group-body">
      <p><% @group.user_id %></p>
        <% @group.members.each do |member| %>
      <p><%= member.user.email %></p>
      <% end %>
    </div>
    <div class="row d-flex justify-content-center">
    <div>
      <%= link_to 'Enquete', group_grouped_events_path(@group), class: "btn btn-primary btn-sm" %>
      <%= link_to "vote", votes_group_grouped_events_path(@group), class: "btn btn-primary btn-sm" %>
      <%= link_to "todos os grupos", groups_path(@group), class: "btn btn-primary btn-sm" %>
    </div>
  </div>
</div>
