<div class="destaques neonLand my-5">
  <h1 class= "text-white"><%= @group.name %></h1>
</div>

<div class="row justify-content-around m-0 text-white">
  <div>
    <div class="group-body">
      <p><% @group.user_id %></p>
        <% @group.members.each do |member| %>
      <p><%= member.user.email %></p>
      <% end %>
    </div>
    <h3>Chat</h3>
    <%= simple_form_for [@group, @message], remote: true do |f| %>
      <%= f.input :content, label: false, placeholder: "Message ##{@group.name}" %>
    <% end %>
    <div id="messages" data-chatroom-id="<%= @group.id %>">
      <% @group.messages.each do |message| %>
        <div class="message-container" id="message-<%= @group.id %>">
          <i class="author">
            <span><%= message.user.email %></span>
            <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
          </i>
          <p><%= message.content %></p>
        </div>
      <% end %>
    </div>

    <div class="row d-flex justify-content-center">
    <div>
      <%= link_to 'Enquete', group_grouped_events_path(@group), class: "btn btn-primary btn-sm" %>
      <%= link_to "vote", votes_group_grouped_events_path(@group), class: "btn btn-primary btn-sm" %>
      <%= link_to "todos os grupos", groups_path(@group), class: "btn btn-primary btn-sm" %>
    </div>
  </div>
</div>
