<div class="destaques neonLand my-5">
  <h1 class= "text-white"><%= @group.name %></h1>
</div>

<div class="row justify-content-around m-0 text-white">
    <div style="width:1100px; height: 750px;" class="group-chat-container d-flex justify-content-around">
      <div class="group-container mx-2">
        <h3 class="text-center">Membros</h3>
        <div style="height: 165px;" class="d-flex group-card p-3 mb-3">
            <% @group.members.each do |member| %>
            <div class="mx-3">
              <% if member.user.photo.attached? %>
                <%= cl_image_tag member.user.photo.key, class: "avatar"%>
              <% end %>
              <div class="d-flex">
                <p style="font-size:12px;" class="text-center"><%= member.user.nickname %></p>
                <% unless member.user == current_user %>
                  <a href=<%= member_path(member) %> data-method="delete" data-confirm="Tem certeza para remover este membro?" class="ml-1">
                    <i style="font-size:10px;" class="fas fa-user-slash text-white"></i>
                  </a>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <div style="height: 70px;" class="d-flex group-card mb-3 p-3 justify-content-center ">
          <%= simple_form_for [@group, @member], remote: true do |f| %>
            <div class="d-flex justify-content-between button-inline">
            <%= f.association :user,
              collection: @friends,
              label_method: :nickname,
              value_method: :id,
              label: false,
              multiple: true,
              prompt: "Selecione seu amigo" %>
              <div>
                <%= f.submit "Adicionar", class: "btn botton-search mb-2 ml-2" %>
              </div>
            </div>
          <% end %>
        </div>
        <h3 class="text-center">Eventos Selecionados</h3>
        <div style="height: 345px;" class="group-card p-3">
          <% @group.groupedEvents.each do |groupedEvent| %>
            <div class="d-flex align-items-center mb-2">
              <%= cl_image_tag groupedEvent.event.photo.key, height: 40, width: 80, crop: :fill %>
              <div class="d-flex flex-column">
                <p class="ml-2 mb-0"><%= groupedEvent.event.name %></p>
                <div class="d-flex align-items-center mt-0 ml-2">
                  <% groupedEvent.points.times do %>
                    <div class="votes"></div>
                  <% end %>
                  <div class="ml-1">
                    <%=  groupedEvent.points %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div>
        <h3 class="text-center">Chat</h3>
        <div id="chat" class="d-flex flex-column group-card justify-content-between p-3 mx-2">
          <div id="messages" data-group-id="<%= @group.id %>">
            <% @group.messages.each do |message| %>
              <%= render "message", group: @group, message: message %>
            <% end %>
          </div>
          <div class="align-self-center w-75">
            <%= simple_form_for [@group, @message], remote: true do |f| %>
              <%= f.input :content, label: false, placeholder: "Mensagem ##{@group.name}"%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="row d-flex justify-content-center mt-5">
  <div class="box-bottons">
    <%= link_to 'Enquete', group_grouped_events_path(@group), class: "btn botton-enquete" %>
    <%= link_to "Votar", @group.close ? result_group_grouped_events_path(@group) : votes_group_grouped_events_path(@group), class: "btn botton-vote" %>
    <%= link_to "Todos os grupos", groups_path(@group), class: "btn botton-back" %>
  </div>
</div>
