<div class="cards-banner-bg m-0" >
  <div class="row m-0">
    <div class="col-12">
      <h2 class="title mt-1 pb-0 text-center">EVENTS</h2>
      <div class="row justify-content-around mb-1 ">
    </div>
  </div>
</div>

<div class="row justify-content-around m-0">
  <% @events.each do |event|%>
  <div class="event-body">
    <img src="<%= event.image %>">
    <h5 style="color: white;"><%= event.name %></h5>
    <p style="color: white;">A partir de <%= event.price %></p>
    <p style="color: white;"><%= event.region %></p>
    <p style="color: white;"><%= event.address %></p>
    <%= cl_image_tag event.photo.key, height: 134, width: 262, crop: :fill %>
  </div>
</div>
  <div class = "event-body text-center">
    <%= link_to '+ info',event_path(event), class: "btn btn-outline-dark btn-sm radius-15" %>
  </div>
<% end %>
