<div class="events-banner-bg m-0" >
<div class="container my-4">
  <div class="busca" style= "margin:40px 450px 30px 450px;">
    <%= form_with url: search_events_url, method: :get do %>
      <%= text_field_tag :region,
          params[:region],
          placeholder: "Digite um nome"
      %>
      <%= text_field_tag :date,
          params[:date],
          placeholder: "Digite uma data"
      %>
      <div style="text-align: center; margin:20px ">
        <%= submit_tag 'Pesquisar', class: "btn btn-dark" %>
      </div>
    <% end %>
  </div>
</div>


  <div class="row m-0">
    <div class="col-12" style="margin-top:0;">
      <h2 style = "color:white"class="destaques neonLand my-5">eventos</h2>
    </div>
  </div>
  <div class="row justify-content-center m-0">
    <% @events.each do |event|%>
      <div class="event-body col-3">
        <div class="flat-card">
          <div>
            <% if event.photo.attached? %>
              <%= cl_image_tag event.photo.key, height: 134, width: 262, crop: :fill %>
            <% end %>
          </div>
          <div class="event-text">
            <h6><strong><%= event.name %></strong></h5>
            <p style="color:red;">A partir de <%= event.price %></p>
            <p><%= event.region %></p>
            <p><%= event.address %></p>
          </div>
          <div class="event-body">
            <%= link_to '+ info',event_path(event), class: "btn btn-outline-dark btn-sm" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
