
<div class="row justify-content-center" >
  <%= form_with url: search_events_url, method: :get do %>
    <%= text_field_tag :region,
        params[:region],
        placeholder: "Região"
    %>
    <%= text_field_tag :date,
        params[:date],
        placeholder: "Data",
        class: "datepicker"
    %>
    <div style="text-align: center; margin:20px ">
      <%= submit_tag 'Pesquisar', class: "btn botton-search" %>
    </div>
  <% end %>
</div>

<div class="row justify-content-center container-events">
  <% @events.each do |event|%>
    <div class="event-body col-3">
      <div class="flat-card">
        <div>
          <%= cl_image_tag event.photo.key, height: 134, width: 262, crop: :fill %>
        </div>
        <div class="event-text">
          <h6><strong><%= event.name %></strong></h5>
          <p style="color:red;">A partir de <%= event.price %></p>
          <p><%= event.region %></p>
          <p><%= event.address %></p>
        </div>
        <div class="event-body">
          <%= link_to '+ info',event_path(event), class: "btn btn-outline-dark btn-sm" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
