<div class="photo">
  <%= cl_image_tag @event.photo.key, crop: :fill %>
</div>

<div class="event-box">
  <div class="event-content event-info">

      <h4><strong><%= @event.name %></strong></h4>
      <p><strong>Endereço: </strong><%= @event.address %></p>
      <p><strong>Região: </strong><%= @event.region %></p>
      <p><strong>Preço: A partir de </strong><%= @event.price %></p>
      <p><strong>Data: </strong><%= @event.date.split(",")[0] %></p>

  </div>
  <div class="event-content event-description">
    <p><strong>Descrição: </strong><%= @event.description %></p>
  </div>
</div>

<div class="geocoding">
  <% if @markers %>
    <div id="map"
        style="width: 600px; height: 400px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  <% end %>
</div>

<div class="box-bottons">
  <div class="favoritar" style="text-align: center">
    <%= link_to 'favoritar evento', favorites_event_path(@event), method: :post, class: "btn botton-topfavorite" %>

    <%= link_to 'Voltar', events_path, class: "btn botton-back" %>
  </div>
</div>
