<h1 class= "text-white"><%= @event.name %></h1>

<div class="photo">
  <%= cl_image_tag @event.photo.key, crop: :fill %>
</div>

<div class="row justify-content-center">
  <div class="show-event">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><strong>Endereço: </strong><%= @event.address %></li>
      <li class="list-group-item"><strong>Região: </strong><%= @event.region %></li>
      <li class="list-group-item"><strong>Preço: A partir de <%= @event.price %></strong></li>
      <li class="list-group-item"><strong>Avaliação: </strong></li>
      <li class="list-group-item"><strong>Descrição: </strong><%= @event.description %></li>
    </ul>
  </div>
</div>

<% if @markers %>
  <div id="map"
      style="width: 600px; height: 400px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
<% end %>

<div class="favoritar" style="text-align: center">
  <%= link_to 'favoritar evento', favorites_event_path(@event), method: :post, class: "btn btn-warning" %>

  <%= link_to 'Voltar', events_path, class: "btn btn-primary" %>
</div>
