<div class="busca" style= "margin:40px 450px 30px 450px;">
  <%= form_with url: search_friendships_url, method: :get do %>
    <%= text_field_tag :email,
        params[:email],
        class: "form-control",
        placeholder: "Digite um email"
    %>
    <div style="text-align: center; margin:20px ">
      <%= submit_tag 'Pesquisar', class: "btn btn-dark" %>
    </div>
  <% end %>
</div>

<div class="row justify-content-around m-0">
  <% @users.each do |user|%>
    <div class="row card m-3 radius-10 col-3"  style=" width: 15rem;">
      <div class="card-body" id="bg-card">
        <%= simple_form_for @friendship do |f| %>
          <div style="text-align: center;">
            <%= user.nickname %>
          </div>
          <%= f.hidden_field :user_id, value: user.id%>
          <div style="text-align: center;">
            <%= f.submit "Adicionar"%>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
