
<div class="destaques neonLand my-5">
  <h1>ENQUETE</h1>
</div>
<div class="text-light" style="text-align:center;">
  <h5>Adicione seu evento preferido a enquete</h5>
</div>
<div class="container my-4">
    <div class="row">
      <form>
        <div class="form-row mt-3">
          <div class="col-5">
            <input type="text" class="form-control border-0" placeholder="Localização">
          </div>
          <div class="col-5">
            <input type="text" class="form-control border-0" placeholder="Data">
          </div>
          <div class="col-2">
            <a class="btn btn-ghost" href="#"><i class="fas fa-search icon-search"></i></a>
          </div>
        </div>
      </form>
    </div>
  </div>



<% @grouped_events.each do |grouped_event| %>

<div class="card-product m-5 w-50">
    <%= cl_image_tag grouped_event.event.photo.key, height: 134, width: 262, crop: :fill %>
    <div class="card-product-infos mt-3 mb-3">
      <%= link_to(event_path(grouped_event.event)) do %>
        <h2><%= grouped_event.event.name %></h2>
      <% end %>
      <p>Preço: <%= grouped_event.event.price %></p>
      <p>Região: <%= grouped_event.event.region %></p>
    </div>
</div>

<% end %>


<div class="row justify-content-around m-0 text-white">
  <div class="text-align center">
    <a href="#" class ="btn btn-primary btn-sm">Adicionar Evento</a>

    <%= link_to "Vote", votes_group_grouped_events_path(@group), class: "btn btn-primary btn-sm" %>

    <%= link_to "Voltar para Grupo", group_path(@group), class: "btn btn-primary btn-sm" %>
  </div>
</div>
