
<div class="destaques neonLand my-5">
  <h1>Survey Room</h1>
</div>

<div class="text-light">
  <h2>Eventos Selecionados</h2>
</div>

<% @grouped_events.each do |grouped_event| %>

  <div class="event-body text-light">
    <img src="<%= grouped_event.event.image %>">
    <h5><%= grouped_event.event.name %></h5>
    <p><%= grouped_event.event.price %></p>
    <p><%= grouped_event.event.region %></p>
    <p><%= grouped_event.event.description %></p>
  </div>

<% end %>

<div class="text-light">
  <h2>Pesquisar eventos</h2>
</div>

<form>
  <div class="form-row mt-3">
    <div class="col-5">
      <input type="text" class="form-control border-0" placeholder="Localização">
    </div>
    <div class="col-5">
      <input type="text" class="form-control border-0" placeholder="Data">
    </div>
    <div class="col-2">
      <a class="btn btn-ghost" href="#"><i class="fas fa-search icon-search"></i></a>
    </div>
  </div>
</form>

<div>
  <a href="#" class ="btn btn-secondary btn-lg mt-3 mb-4 radius-15">Adicionar Evento</a>
</div>

<div>
  <%= link_to "Fazer a votação", votes_group_grouped_events_path(@group), class: "btn btn-secondary btn-lg mt-3 mb-4 radius-15" %>
</div>

<div>
  <%= link_to "Voltar para Grupo", group_path(@group), class: "btn btn-secondary btn-lg mt-3 mb-4 radius-15" %>
</div>
