
<div class="destaques neonLand my-5">
  <h1>ENQUETE</h1>
</div>
<div class="text-light" style="text-align:center;">
  <h5>Adicione seu evento preferido a enquete</h5>
</div>
<div class="row justify-content-center" >
  <%= form_with url: search_events_url, method: :get do %>
    <%= text_field_tag :region,
        params[:region],
        placeholder: "Região"
    %>
    <%= text_field_tag :date,
        params[:date],
        placeholder: "Data",
        class: "datepicker"
    %>
    <div style="text-align: center; margin:20px ">
      <%= submit_tag 'Pesquisar', class: "btn btn-dark" %>
    </div>
  <% end %>
</div>

<% @grouped_events.each do |grouped_event| %>

  <div class="event-body text-light">
    <img src="<%= grouped_event.event.image %>">
    <h5><%= grouped_event.event.name %></h5>
    <p><%= grouped_event.event.price %></p>
    <p><%= grouped_event.event.region %></p>
    <p><%= grouped_event.event.description %></p>
  </div>
<% end %>



<div class="row justify-content-around m-0 text-white">
  <div class="text-align center">
    <a href="#" class ="btn btn-primary btn-sm">Adicionar Evento</a>

    <%= link_to "Vote", votes_group_grouped_events_path(@group), class: "btn btn-primary btn-sm" %>

    <%= link_to "Voltar para Grupo", group_path(@group), class: "btn btn-primary btn-sm" %>
  </div>
</div>
