
<div class="destaques neonLand my-5">
  <h1>ENQUETE</h1>
</div>

<div class="d-flex justify-content-center align-items-center flex-column">
  <div class="group-chat-container d-flex flex-column justify-content-center">
    <h2 class="text-light">Eventos selecionados</h2>
    <% @grouped_events.each do |grouped_event| %>
      <div style="width: 1000px;" class="group-card mt-3 d-flex">
        <%= cl_image_tag grouped_event.event.photo.key, height: 120, width: 250, class: "image-vote m-3" %>
        <div style="width:700px" class="d-flex align-items-center justify-content-between">
          <div class="my-4">
            <%= link_to(event_path(grouped_event.event)) do %>
              <h4><%= grouped_event.event.name %></h4>
            <% end %>
            <div class="d-flex justify-content-start">
              <p>Preço: <%= grouped_event.event.price %></p>
              <p class="ml-3">Região: <%= grouped_event.event.region %></p>
            </div>
          </div>
          <div style="height:50px;" class="mr-2">
            <%= link_to 'Remover', grouped_event_path(@group, grouped_event_id: grouped_event.id), method: :delete, class: "btn botton-vote" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="group-chat-container d-flex flex-column justify-content-center text-center mt-3">
    <h4>Adicione seu evento preferido a enquete</h4>
    <div style="width: 1000px;" class="group-card justify-content-center pt-4" >
      <%= form_with url: group_grouped_events_path(@group), method: :get do %>
        <%= text_field_tag :region,
            params[:region],
            placeholder: "Região"
        %>
        <%= text_field_tag :date,
            params[:date],
            placeholder: "Data",
            class: "datepicker"
        %>
        <div style="text-align: center; margin:20px ">
          <%= submit_tag 'Pesquisar', class: "btn botton-search" %>
        </div>
      <% end %>
    </div>
  </div>
</div>


<div class="row justify-content-center m-0">
  <% @events.each do |event|%>
    <div class="event-body col-3">
      <div class="flat-card p-1 d-flex align-items-center flex-column">
        <div>
          <% if event.photo.attached? %>
            <%= link_to(event_path(event)) do %>
              <%= cl_image_tag event.photo.key, height: 128, width: 250, crop: :fill %>
            <% end %>
          <% end %>
        </div>
        <div class="event-text border align-self-start">
          <h6><strong><%= event.name %></strong></h5>
          <p style="color:red;"></strong>A partir de <%= event.price %></strong></p>
          <p><%= event.region %></p>
          <p><%= event.address %></p>
          <p><%= event.date.split(",")[0] %></p>
        </div>
        <div class="button-index-survey mt-auto">
          <%= link_to 'Adicionar', group_grouped_events_path(@group, event_id: event), method: :post, class: "btn btn-outline-dark btn-sm" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="row justify-content-around mt-4 text-white">
  <div class="text-align center mb-4">
    <%= link_to "Votar", votes_group_grouped_events_path(@group), class: "btn botton-vote" %>
    <%= link_to "Voltar para Grupo", group_path(@group), class: "btn botton-back" %>
  </div>
</div>
