<div class="destaques neonLand my-5">
  <h1>Resultado</h1>
</div>

<div class="d-flex flex-column">
  <div class="d-flex justify-content-center">
    <div class="group-chat-container d-flex flex-column">
      <div class="d-flex justify-content-center">
        <i style="font-size:25px; color: yellow;" class="fas fa-crown"></i>
        <h2 class="my-4">O queridinho da vez foi....</h2>
        <i style="font-size:25px; color: yellow;" class="fas fa-crown"></i>
      </div>
      <div class="d-flex justify-content-center">
        <div style="width:600;" class="group-card mx-3 mb-3">
          <%= cl_image_tag @grouped_events[0].event.photo.key, height: 400, width: 824, class: "image-result mt-3 mx-3" %>
          <div class="card-trip-infos text-center">
            <div class="mt-2">
              <%= link_to(event_path(@grouped_events[0].event)) do %>
              <h3 class="text-white"><%= @grouped_events[0].event.name %></h3>
              <% end %>
            </div>
            <p>Região: <%= @grouped_events[0].event.region %></p>
            <p class="card-trip-pricing"><%= @grouped_events[0].event.price %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <%= link_to "Voltar para Grupo", group_path(@grouped_events[0].group), class: "btn botton-back" %>
  </div>
</div>
