<div class="destaques neonLand my-5">
  <h1>Votação</h1>
</div>

<div class="text-light">
  <h2>Eventos para votação</h2>
</div>

<% @grouped_events.each do |grouped_event| %>

<div class="card-product m-5 w-50">
    <%= cl_image_tag grouped_event.event.photo.key, height: 134, width: 262, crop: :fill %>
    <div class="card-product-infos mt-3 mb-3">
      <h2><%= grouped_event.event.name %></h2>
      <p><strong>Votação: <%= grouped_event.points %></strong></p>
      <p>Preço: <%= grouped_event.event.price %></p>
      <p>Região: <%= grouped_event.event.region %></p>
      <%= link_to "Vote", votes_group_grouped_events_path(grouped_event_id: grouped_event.id), method: :post, class: "btn btn-primary"%>
    </div>
</div>

<% end %>
<div class="row justify-content-around m-0 text-white">
  <div>
    <%= link_to "Cancelar sua votação", votes_group_grouped_events_path(@group), method: :delete, class: "btn btn-warning btn-sm" %>

    <%= link_to "Finalizar votação", close_group_groups_path(@group), method: :patch, class: "btn btn-danger btn-sm" %>
    <%#= link_to "Finalizar votação", result_group_grouped_events_path(@group), class: "btn btn-danger btn-sm" %>

    <%= link_to "Voltar para Grupo", group_path(@group), class: "btn btn-primary btn-sm" %>
  </div>
</div>
